<a href="https://colab.research.google.com/github/Mweru/Bank-Marketing-Data-Analysis/blob/main/Bank_Marketing_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

[Data Report here](https://docs.google.com/document/d/1X5978wftiwQ_1Ef9aMhId56umDE_R8Ha-ipip15CuPI/edit?usp=sharing)

# Introduction

## Data Understanding
This data set contains records relevant to a direct marketing campaign of a Portuguese banking institution sourced from [Kaggle](https://www.kaggle.com/datasets/ruthgn/bank-marketing-data-set/data). The marketing campaign was executed through phone calls. Often, more than one call needs to be made to a single client before they either decline or agree to a term deposit subscription. The classification goal is to predict if the client will subscribe (yes/no) to the term deposit (variable y).

This is a modified version of the classic bank marketing data set originally shared in the UCI Machine Learning Repository.

### Input variables:
#### Bank client data:
- age (numeric)
- job : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
- marital : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
- education (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
- default: has credit in default? (categorical: 'no','yes','unknown')
- housing: has housing loan? (categorical: 'no','yes','unknown')
- loan: has personal loan? (categorical: 'no','yes','unknown')

#### related with the last contact of the current campaign:
- contact: contact communication type (categorical: 'cellular','telephone')
- month: last contact month of year (categorical: 'jan', 'feb', 'mar', â€¦, 'nov', 'dec')
- day_of_week: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')

#### other attributes:
- campaign: number of contacts performed during this campaign and for this client (numeric, includes last contact)
- pdays: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
- previous: number of contacts performed before this campaign and for this client (numeric)
- poutcome: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')

#### social and economic context attributes:
- emp.var.rate: employment variation rate - quarterly indicator (numeric)
- cons.price.idx: consumer price index - monthly indicator (numeric)
- cons.conf.idx: consumer confidence index - monthly indicator (numeric)
- euribor3m: euribor 3 month rate - daily indicator (numeric)
- nr.employed: number of employees - quarterly indicator (numeric)

#### Output variable (desired target):

- y - has the client subscribed a term deposit? (binary: 'yes','no')




## Overview
Use this data set to test the performance of your classification models and to explore the best strategies to improve a banking institution's next direct marketing campaign.

Term deposits are cash investment held at a financial institution and are a major source of revenue for banks--making them important for financial institutions to market. Telemarketing remains to be a popular marketing technique because of the potential effectiveness of human-to-human contact provided by a telephone call, which is sometimes quite the opposite of many impersonal and robotic marketing messages relayed through social and digital media. However, executing such direct marketing effort usually requires a huge investment by the business as large call centers need to be contracted to contact clients directly.

How can the banking institution have more effective direct marketing campaigns in the future? Analyze this data set and identify the patterns that will help us develop future strategies.

In [1]:
#loading and previewing the data
import pandas as pd
df = pd.read_csv('bank-direct-marketing-campaigns.csv')
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [3]:
#size of df
df.shape

(41188, 20)

In [10]:
#checking for duplicates
df.duplicated().sum()

np.int64(1784)

In [11]:
#dropping the duplicates
df = df.drop_duplicates()
df.duplicated().sum()

np.int64(0)

In [12]:
#checking the missing values
df.isna().sum()

age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
campaign          0
pdays             0
previous          0
poutcome          0
emp.var.rate      0
cons.price.idx    0
cons.conf.idx     0
euribor3m         0
nr.employed       0
y                 0
dtype: int64

In [20]:
#checking the value counts for columns in search for placeholders...
for column in df.columns:
  print(f"Value counts for column '{column}':")
  print(df[column].value_counts())
  print()

Value counts for column 'age':
age
31    1825
32    1764
33    1741
35    1671
36    1670
      ...
91       2
98       2
95       1
87       1
94       1
Name: count, Length: 78, dtype: int64

Value counts for column 'job':
job
admin.           9873
blue-collar      8835
technician       6404
services         3801
management       2820
retired          1683
entrepreneur     1405
self-employed    1386
housemaid        1028
unemployed        992
student           852
unknown           325
Name: count, dtype: int64

Value counts for column 'marital':
marital
married     23869
single      10997
divorced     4459
unknown        79
Name: count, dtype: int64

Value counts for column 'education':
education
university.degree      11561
high.school             9121
basic.9y                5785
professional.course     5018
basic.4y                3993
basic.6y                2222
unknown                 1686
illiterate                18
Name: count, dtype: int64

Value counts for column 'default':
default
no         31135
unknown     8266
yes            3
Name: count, dtype: int64

Value counts for column 'housing':
housing
yes        20561
no         17863
unknown      980
Name: count, dtype: int64

Value counts for column 'loan':
loan
no         32248
yes         6176
unknown      980
Name: count, dtype: int64

Value counts for column 'contact':
contact
cellular     24673
telephone    14731
Name: count, dtype: int64

Value counts for column 'month':
month
may    13315
jul     6698
aug     5719
jun     5245
nov     3910
apr     2535
oct      707
sep      564
mar      530
dec      181
Name: count, dtype: int64

Value counts for column 'day_of_week':
day_of_week
thu    8197
mon    8188
wed    7760
tue    7708
fri    7551
Name: count, dtype: int64

Value counts for column 'campaign':
campaign
1     16368
2     10223
3      5230
4      2625
5      1586
6       974
7       623
8       400
9       283
10      224
11      177
12      125
13       91
14       69
17       58
16       51
15       51
18       33
20       30
19       26
21       24
22       17
23       16
24       15
27       11
29       10
28        8
26        8
25        8
30        7
31        7
35        5
33        4
32        4
34        3
43        2
40        2
42        2
39        1
56        1
37        1
41        1
Name: count, dtype: int64

Value counts for column 'pdays':
pdays
999    37890
3        438
6        412
4        118
9         64
2         61
7         60
12        58
10        52
5         46
13        36
11        28
1         26
15        24
14        20
8         18
0         15
16        11
17         8
18         7
22         3
19         3
21         2
25         1
26         1
27         1
20         1
Name: count, dtype: int64

Value counts for column 'previous':
previous
0    33858
1     4484
2      752
3      216
4       70
5       18
6        5
7        1
Name: count, dtype: int64

Value counts for column 'poutcome':
poutcome
nonexistent    33858
failure         4174
success         1372
Name: count, dtype: int64

Value counts for column 'emp.var.rate':
emp.var.rate
 1.4    15259
-1.8     8853
 1.1     7527
-0.1     3496
-2.9     1633
-3.4     1052
-1.7      770
-1.1      633
-3.0      171
-0.2       10
Name: count, dtype: int64

Value counts for column 'cons.price.idx':
cons.price.idx
93.994    7527
93.918    6210
92.893    5576
93.444    4732
94.465    4317
93.200    3429
93.075    2362
92.201     756
92.963     700
92.431     436
92.649     353
94.215     311
94.199     301
92.843     266
93.369     264
92.379     263
94.027     231
94.055     228
93.876     212
94.601     204
92.469     177
93.749     173
92.713     171
94.767     128
93.798      67
92.756      10
Name: count, dtype: int64

Value counts for column 'cons.conf.idx':
cons.conf.idx
-36.4    7527
-42.7    6210
-46.2    5576
-36.1    4732
-41.8    4317
-42.0    3429
-47.1    2362
-31.4     756
-40.8     700
-26.9     436
-30.1     353
-40.3     311
-37.5     301
-50.0     266
-34.8     264
-29.8     263
-38.3     231
-39.8     228
-40.0     212
-49.5     204
-33.6     177
-34.6     173
-33.0     171
-50.8     128
-40.4      67
-45.9      10
Name: count, dtype: int64

Value counts for column 'euribor3m':
euribor3m
4.857    2772
4.962    2425
4.963    2278
4.961    1838
4.856    1162
         ...
3.816       1
3.428       1
3.329       1
1.045       1
1.047       1
Name: count, Length: 316, dtype: int64

Value counts for column 'nr.employed':
nr.employed
5228.1    15259
5099.1     8204
5191.0     7527
5195.8     3496
5076.2     1633
5017.5     1052
4991.6      770
5008.7      649
4963.6      633
5023.5      171
5176.3       10
Name: count, dtype: int64

Value counts for column 'y':
y
no     34806
yes     4598
Name: count, dtype: int64